.centerCard{
    padding-left:20%;
    padding-right:20%;
    padding-top:2%;
}

.marginInputs{
    margin-bottom: 3rem;
}

.titulo{
    text-align: center;
    color: white;
    padding-top: 2%;
}

.btn-flotante {

	position: fixed;
	bottom: 40px;
	right: 40px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50% !important;

}

.icon-btn-flotante{
    font-size: 22px;
}

.btns-center{
    margin-right: 5px;
}

.btns-edit{
    margin-left: 25px;
}

.modal-padding{
    padding-bottom: 5px;
}

.alert-flotante {

	position: fixed;
	top: 20px;
	right: 40px;
    text-align: center;
}

.required-field {
    color: red;
}

.datepickers-height {
    height: 40px !important;
    position: absolute;
}
